/* common styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
}

/* logo common */
.logo-common {
    font-size: 45px;
    font-weight: 700;
}

.logo-common-color {
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* linear gradient color */
.linear-gradient-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* outlet size common */
.header-size-container {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}

/* 18px description common */
.common-description {
    font-size: 18px;
}

/* 20px font size description */
.another-common-description20 {
    font-size: 20px;
    font-weight: 600;
}

/* 48 px common header */
.common-header {
    font-size: 48px;
    font-weight: 700;
}


/* common button */
.common-button {
    color: #FFF;
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
}

/* ----------------------- Main Style start---------------------------------- */
/* header logo and nav section style */
/* logo and nav section */
.nav-container,
.logo-container,
.nav-link-container,
.nav-link-container>ul,
.follow-us,
.banner-container {
    display: flex;
    align-items: center;
}

.banner-container {
    padding: 0 20px;
}

.nav-background-container {
    padding: 38px 20px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.logo-container {
    gap: 20px;
}

.nav-link-container,
.nav-link-container>ul {
    gap: 32px;
}

.nav-link-container>ul>li,
.follow-us>li {
    list-style: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.follow-us {
    gap: 24px;
    padding: 17PX 24PX;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
}

.follow-us>.fa-tiktok,
.fa-youtube {
    font-size: 24px;
}

.follow-us>.fa-youtube {
    color: #F61C0D;
}

/* banner section style */
.banner-container-background {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
}

.top-banner-heading {
    font-weight: 600;
}

.top-banner-goat-heading {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 4px;
    margin-bottom: 24px;
}

.banner-content-container>p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 17px;
}

.btn-group {
    margin-top: 24px;
}

.btn-sign-in {
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    margin-right: 24px;
}

.btn-go-rogue {
    background-color: #4EC5F7;
}

/* -----------------------------Responsive Media Query -------------------------------- */
/* responsive for mobile devise */

@media screen and (max-width:576px) {
    .nav-background-container {
        box-shadow: none;
    }

    .nav-container,
    .nav-link-container,
    .nav-link-container>ul {
        flex-direction: column;
    }

    .nav-link-container {
        margin-top: 62px;
    }

    .nav-link-container>ul {
        margin-bottom: 62px;
    }

    .banner-container-background {
        background-position: bottom;
        background-size: 550px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-content-container {
        margin: 131px 30px 0 30px;
    }

    .banner-image-container>img {
        width: 100%;
    }

    .btn-sign-in {
        margin-right: 2px;
    }
}

/* responsive for tab */
@media screen and (min-width:576px) and (max-width:992px) {

    .nav-container,
    .nav-link-container,
    .nav-link-container>ul {
        flex-direction: column;
    }

    .nav-link-container {
        margin-top: 62px;
    }

    .nav-link-container>ul {
        margin-bottom: 62px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-image-container>img {
        width: 90%;
        margin-left: 50px;
    }

    .banner-container-background {
        background-position: bottom;
        background-size: 65%;
    }
}